# Code owners for janus
# Matches GitHub's CODEOWNERS syntax.
# See: https://docs.github.com/en/repositories/managing-your-repositories-settings-and-security/customizing-your-repository/about-code-owners

* @skipnz
