// Staging environment parameters for main.bicep.
// Substituted by janus scaffold. Edit safely after generation.
using './main.bicep'

param workload = '{{workload}}'
param env = 'staging'
param location = '{{region}}'
